<md-toolbar>增加新的邻接节点</md-toolbar>

<form class="add-adjnode-form">
  <md-input-container class="add-adjnode-full-width">
    <input mdInput placeholder="节点号" #nodeID>
  </md-input-container>

  <table class="add-adjnode-full-width" cellspacing="0">
    <tr>
      <td>
        <md-input-container class="add-adjnode-full-width">
          <input mdInput placeholder="IP地址">
        </md-input-container>
      </td>
      <td>
        <md-input-container class="add-adjnode-full-width">
          <input mdInput placeholder="IP版本" value="4">
        </md-input-container>
      </td>
      <td>
        <md-input-container class="add-adjnode-full-width">
          <input mdInput placeholder="端口">
        </md-input-container>
      </td>
    </tr>

    <tr>
      <td>
        <md-input-container class="add-adjnode-full-width">
          <input mdInput placeholder="主机名">
        </md-input-container>
      </td>
      <td>
        <md-input-container class="add-adjnode-full-width">
          <input mdInput placeholder="域名">
        </md-input-container>
      </td>
      <td>
        <md-input-container class="add-adjnode-full-width">
          <input mdInput placeholder="设备类型" value="1">
        </md-input-container>
      </td>
    </tr>
  </table>

  <button md-fab (click)="addNode(nodeID.value)"><md-icon>check</md-icon></button><button md-fab><md-icon>cancel</md-icon></button>
</form>

