<div class="example-container mat-elevation-z8">
  <md-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container cdkColumnDef="id">
      <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
    </ng-container>

    <!-- IPAddr Column -->
    <ng-container cdkColumnDef="ipaddr">
      <md-header-cell *cdkHeaderCellDef> IP地址 </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.ipaddr}} </md-cell>
    </ng-container>

    <!-- IPVer Column -->
    <ng-container cdkColumnDef="ipver">
      <md-header-cell *cdkHeaderCellDef> IP版本号 </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.ipver}} </md-cell>
    </ng-container>

    <!-- Port Column -->
    <ng-container cdkColumnDef="port">
      <md-header-cell *cdkHeaderCellDef>端口号</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.port}} </md-cell>
    </ng-container>

    <!-- HostName Column -->
    <ng-container cdkColumnDef="hostname">
      <md-header-cell *cdkHeaderCellDef>主机名</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.hostname}} </md-cell>
    </ng-container>

    <!-- Domain Column -->
    <ng-container cdkColumnDef="domain">
      <md-header-cell *cdkHeaderCellDef>域名</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.domain}} </md-cell>
    </ng-container>

    <!-- Type Column -->
    <ng-container cdkColumnDef="type">
      <md-header-cell *cdkHeaderCellDef>设备类型</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.type}} </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;" (click)="rowClicked(row)"></md-row>
  </md-table>
</div>
