<md-toolbar>
  <span>所有邻接节点</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span><a md-fab mdTooltip="增加一个新的邻接节点" routerLink="../add-adjnode"><md-icon>add</md-icon></a>
  </span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
</md-toolbar>

<div class="example-container mat-elevation-z8">
  <md-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Operation Column -->
    <ng-container cdkColumnDef="operation">
      <md-header-cell *cdkHeaderCellDef>  </md-header-cell>
      <md-cell *cdkCellDef="let row">
        <a md-button mdTooltip="修改此邻接节点配置" routerLink="."><md-icon>edit</md-icon></a>
        <a md-button mdTooltip="删除此邻接节点配置" (click)="deleteNode(row)"><md-icon>delete</md-icon></a>
      </md-cell>
    </ng-container>

    <!-- ID Column -->
    <ng-container cdkColumnDef="id">
      <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
    </ng-container>

    <!-- IPAddr Column -->
    <ng-container cdkColumnDef="ipaddr">
      <md-header-cell *cdkHeaderCellDef> IP地址 </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.ipaddr}} </md-cell>
    </ng-container>

    <!-- IPVer Column -->
    <ng-container cdkColumnDef="ipver">
      <md-header-cell *cdkHeaderCellDef> IP版本号 </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.ipver}} </md-cell>
    </ng-container>

    <!-- Port Column -->
    <ng-container cdkColumnDef="port">
      <md-header-cell *cdkHeaderCellDef>端口号</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.port}} </md-cell>
    </ng-container>

    <!-- HostName Column -->
    <ng-container cdkColumnDef="hostname">
      <md-header-cell *cdkHeaderCellDef>主机名</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.hostname}} </md-cell>
    </ng-container>

    <!-- Domain Column -->
    <ng-container cdkColumnDef="domain">
      <md-header-cell *cdkHeaderCellDef>域名</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.domain}} </md-cell>
    </ng-container>

    <!-- Type Column -->
    <ng-container cdkColumnDef="type">
      <md-header-cell *cdkHeaderCellDef>设备类型</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.type}} </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>
