<!--The whole content below can be removed with the new code.-->
<div class="containerX">
  <div class="colorNested box" fxLayout="column">
    <header  fxLayout="row" fxLayoutAlign="start center">
      <button md-button title="显示侧边菜单" class="example-fab" (click)="sidenav.toggle()">
        <span class="mat-button-wrapper">
          <md-icon role="img" svgicon="menu" aria-label="menu" class="mat-icon sidenav-open">
            <svg xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 24 24">
              <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
            </svg>
          </md-icon>
        </span>
      </button>
      ZTE-IMS-LBS负载均衡服务器
     </header>
    <div id="main" [fxLayout]="direction" fxLayout.xs="column" fxFlex>
      <md-sidenav-container class="example-container">
        <md-sidenav #sidenav mode="side" opened="false" class="example-sidenav">
          <nav>
            <div id="topoly_config" class="nav_level_1">
                <button md-button class="vertical-menu-item">网络拓扑配置<md-icon class="menu-icon">keyboard_arrow_right</md-icon></button>
                <div id="adjnodes_config" class="nav_level_2">
                  <button md-button>邻接节点配置</button>
                  <div class="nav_level_3">
                      <md-nav-list dense>
                        <a md-list-item routerLink="/adjnodes" routerLinkActive="active">查看邻接节点</a>
                        <a md-list-item routerLink="/add-adjnode" routerLinkActive="active">增加邻接节点</a>
                        <a md-list-item routerLink="/mod-adjnode/0" routerLinkActive="active">修改邻接节点</a>
                      </md-nav-list>
                  </div>
                </div>
                <div id="nodegroup_config" class="nav_level_2">
                  <button md-button>节点组配置</button>
                  <div class="nav_level_3">
                      <md-nav-list dense>
                        <a md-list-item routerLink="/nodegroups" routerLinkActive="active">查看节点组</a>
                        <a md-list-item routerLink="/add-nodegroup" routerLinkActive="active">增加节点组</a>
                        <a md-list-item routerLink="/mod-nodegroup/0" routerLinkActive="active">修改节点组</a>
                      </md-nav-list>
                  </div>
                </div>
                <div id="node_in_group_config" class="nav_level_2">
                  <button md-button>节点组内节点配置</button>
                  <div class="nav_level_3">
                      <md-nav-list dense>
                        <a md-list-item routerLink="/groupnodes" routerLinkActive="active">查看节点组内节点</a>
                        <a md-list-item routerLink="/add-groupnode" routerLinkActive="active">增加节点组内节点</a>
                      </md-nav-list>
                  </div>
                </div>
            </div>
            <div id="securityctrl_config" class="nav_level_1">
              <button md-button>安全管控属性配置</button>
              <div class="nav_level_2">
                <md-nav-list dense>
                  <a md-list-item routerLink="/adjnodes" routerLinkActive="active">查看安全管控配置</a>
                  <a md-list-item routerLink="/add-adjnode" routerLinkActive="active">增加安全管控配置</a>
                  <a md-list-item routerLink="/adjnodes" routerLinkActive="active">修改安全管控配置</a>
                </md-nav-list>
              </div>
            </div>
          </nav>
          
        </md-sidenav>
        <div class="example-sidenav-content">
          <router-outlet></router-outlet>
        </div>
        
      </md-sidenav-container>
    </div>
    <footer fxLayout="row" fxLayoutAlign="space-around center">
      <div>小李飞刀 版权所有</div>
      <div>ZTE IMS CCN开发四部</div>
      <div>Powered by Angular2 And Material Design 2.0</div>
    </footer>
  </div>
</div>

