.vertical-menu-item {
  text-align: left;
  width: 100%;
  background-color: transparent;
  border: 0;
}

.vertical-menu-item:hover {
  cursor: pointer;
  background-color: #A9A9A9;
}

.heading {
  font-weight:bold;
}
  
